[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
flake8 = "*"
black = "*"
gunicorn = "*"
serpy = "*"
django-cors-headers = "*"
psycopg2-binary = "*"
python-decouple = "*"
dj-database-url = "*"
redis = "*"
django-redis = "*"
requests = "*"
celery = "==4.4.7"

[dev-packages]

[requires]
python_version = "3.9"
